<!DOCTYPE html>
<html leng='en'>

<head>
    <title>Intro</title>
    <meta charset='utf-8'>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='script.js' defer></script>

    <style>
        [v-cloak] {
            display: none
        }
    </style>

</head>

<body>
    <h1>Intro</h1>
    <div id='app' v-cloak>
        <div>
            <label>What’s your name? <input type='text' v-model='playerName'></label>
            <p v-if='playerName'>Player: {{ playerName }}</p>
            <p v-else>Enter your player name to begin the game.</p>
        </div>

        <template v-if='results'>
            <p v-if='results == "tie"'>It was a tie</p>
            <p v-else-if='results == "win"'>You won!</p>
            <p v-else-if='results'>You lost to the computer.</p>
        </template>

        <div v-show='playerName'>
            <label>Guess the number <input type='text' v-model='guess' @keyup.enter='submitGuess'></label>
            <button v-on:click='submitGuess'>Guess</button>
            <ul>
                <li v-for='thisGuess in guesses'>{{ thisGuess }}</li>
            </ul>
        </div>

        <ul>
            <li v-for='(setting, property) in settings'>{{ property }} : {{ setting }}</li>
        </ul>

        <ul>
            <li v-for='value in guessesDetailed'>{{ value.guess }} was too {{ value.result }} </li>
        </ul>

        <!-- <div v-if='gameType === "numeric"'>
            <label>Enter a guess between 1 and 10</label>
            <input type='text' placeholder='Your numeric guess' key='numberGuess'>
        </div>
        <div v-else>
            <label>Enter a guess between A and Z</label>
            <input type='text' placeholder='Your alphabetic guess' key='letterGuess'>
        </div>

        <button v-on:click='gameType = (gameType == "numeric") ? "alphabetic" : "numeric"'>Toggle game mode</button> -->

    </div>
</body>

</html>